<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
</head>
<body>
    <section>
        <article>
            <header>
                <h1>{article_title}</h1>
            </header>
            <div>
                <p>
                    {article_content}
                </p>
            </div>
            <div>
                <p>Postador por {article_author}</p>
            </div>
        </article>
    </section>
    <footer>{footer}</footer>
</body>
</html>